#app-wrapper {
    width: 100vw;
    height: 100vh;
  display: grid;
  grid-template-areas:
            "a a a"
            "b c c"
            "d d d";
    grid-template-rows: 5rem 1fr 7rem;
    grid-template-columns: 15rem 1fr;
}

#app-wrapper header {
  grid-area: a;
}

#app-wrapper nav {
  grid-area: b;
}

#app-wrapper main {
  grid-area: c;
}

#app-wrapper footer {
  grid-area: d;
}